// @include scrollbar();
@mixin scrollbar($w: 8, $h: 8) {
  scrollbar-color: color('scroll');
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px color('scroll');
     -webkit-box-shadow: inset 0 0 0px color('scroll');
      background-color:lighten($color: color('scroll'), $amount: 35%);
      
  }
  &::-webkit-scrollbar {
      width: #{$w + "px"};
      background-color: lighten($color: color('scroll'), $amount: 35%);
  }
  &::-webkit-scrollbar-thumb {
      background-color: color('scroll');
  }
}